{% extends 'base.html.twig' %}
{% form_theme formproduct 'bootstrap_4_layout.html.twig' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active cl" href="/">
                <span data-feather="home"></span><i class="fas fa-home"></i>
               home<span class="sr-only"></span>
              </a>
            </li>
 
            <li class="nav-item">
              <a class="nav-link active cl" href="/company/inventory">
                <span data-feather="home"></span> <i class="fas fa-running"></i>
                Inventory <span class="sr-only"></span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link cl" href="/company/product">
                <span data-feather="file"></span><i class="fas fa-users"></i>
                Storage
              </a>
            </li><li class="nav-item">
              <a class="nav-link cl" href="/company/licence">
                <span data-feather="file"></span><i class="fas fa-user"></i>
               Licences
              </a>
            </li>
             <li class="nav-item">
              <a class="nav-link cl" href="/company/transaction">
                <span data-feather="file"></span><i class="fas fa-user"></i>
               Transactions
              </a>
            </li>
           
          </ul>
  
        </div>
        <br> <br> <br> <br> <br> <br> <br> 
      </nav><br>  <br> <br> <br> <br> <br> <br> <br> 
      <style>
      .blue{
        float:right;
     
          margin-bottom:10px;
          margin-left:400px;
      }
        .space{
        float:right;
      
          margin-left:150px;
      }
      .a{
          float:right;
      }
      h2{color:#485785}</style>
     
<div class="Container space">
 {% if editMode %}
<h2>Make changes on this Product</h2>
{% else %}
<h2 >Create your New  Product</h2>
{% endif %}{{form_start(formproduct)}}
<hr>{{form_row(formproduct.reference,{'attr':{'placeholder':'Equipement Code','class':"blue"}})}}
{{form_row(formproduct.manufacturer,{'attr':{'placeholder':'User name','class':"blue"}})}}<hr>

{{form_row(formproduct.stocking_area,{'attr':{'placeholder':'Operating System','class':"blue"}})}}
{% if editMode %}
{{form_row(formproduct.quantity,{'attr':{'placeholder':'State','class':"blue",'readonly':'true'}})}}
{% else %}
{{form_row(formproduct.quantity,{'attr':{'placeholder':'State','class':"blue"}})}}
{% endif %}
{{form_row(formproduct.description)}}
<br><br>
<button type="submit" class=" btn btn-info btn-lg float-right">
{% if editMode %}
Update Product
{% else %}
Add Product
{% endif %}
</button>
{{form_end(formproduct)}}<br><br><br><br>
</div>
{% endblock %}