{% extends 'base.html.twig' %}
{% form_theme formInventory 'bootstrap_4_layout.html.twig' %}
{% block body %}
      <style>
      .blue{
        float:right;
     
          margin-bottom:10px;
          margin-left:400px;
      }
        .space{
        float:right;
      
          margin-left:150px;
      }
      .a{
          float:right;
      }
      h2{color:#485785}</style>
     <section id="main-content">
	<section class="wrapper">
  <div class="table-agile-info">
 {% if editMode %}
<h2>Make changes on this Equipement</h2>
{% else %}
<h2 >Create your New  Equipement</h2>
{% endif %}{{form_start(formInventory)}}
<hr>{{form_row(formInventory.Equipment,{'attr':{'placeholder':'Equipement Code','class':"blue"}})}}
{{form_row(formInventory.User,{'attr':{'placeholder':'User name','class':"blue"}})}}<hr>

{{form_row(formInventory.OperatingSystem,{'attr':{'placeholder':'Operating System','class':"blue"}})}}
{{form_row(formInventory.State,{'attr':{'placeholder':'State','class':"blue"}})}}
{{form_row(formInventory.Brand,{'attr':{'placeholder':'Brand Name','class':"blue"}})}}<br>
{{form_row(formInventory.Model,{'attr':{'placeholder':'Model Number','class':"blue"}})}}

{{form_row(formInventory.Supplier,{'attr':{'placeholder':'Supplier Name','class':"blue"}})}}<br><br>
{{form_row(formInventory.LastScan)}}
{{form_row(formInventory.PurchaseDate)}}
{{form_row(formInventory.LastMaintenance)}}
{{form_row(formInventory.Locaation,{'label':'Location'})}}
{{form_row(formInventory.Notes,{'attr':{'placeholder':'Right down your notes here','class':"blue"}})}}<hr>
<br><br>
<button type="submit" class=" btn btn-info btn-lg float-right">
{% if editMode %}
Update Equipement
{% else %}
Add Equipement
{% endif %}
</button>
{{form_end(formInventory)}}<br><br><br><br></div>
</section>
</section>
{% endblock %}