{% extends 'base.html.twig' %}
{% block body %}
<style>
a{color:black;}
th{color:#485785}
</style>
<div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active cl" href="/admin-dashboard">
                <span data-feather="home"></span><i class="fas fa-home"></i>
               home<span class="sr-only"></span>
              </a>
            </li>
 
            <li class="nav-item">
              <a class="nav-link active cl" href="/company/inventory">
                <span data-feather="home"></span> <i class="fas fa-running"></i>
                Inventory <span class="sr-only"></span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link cl" href="/clients">
                <span data-feather="file"></span><i class="fas fa-users"></i>
                Storage
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link cl" href="/users">
                <span data-feather="file"></span><i class="fas fa-user"></i>
               Actions
              </a>
            </li>
            
           
          </ul>
  
        </div>
        <br> <br> <br> <br> <br> <br> <br> 
      </nav><br>  <br> <br> <br> <br> <br> <br> <br> 
      <div class="container">
     <table class="table table-striped table-active container">
  <thead class="thead-type">
    <tr>
      <th scope="col">Equipment</th>
      <th scope="col">User</th>
      <th scope="col">Location</th>
      
       <th scope="col">OperatingSystem</th>
      <th scope="col">State</th>
       <th scope="col">Brand</th>
      <th scope="col">LastScan</th>
      <th scope="col">LastMaintenance</th>
         <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  {% for inventory in inventorys %}
    <tr>
      <td scope="row">{{inventory.Equipment}}</th>
      <td>{{inventory.User}}</td>
      <td>{{inventory.Locaation}}</td>
      
       <td>{{inventory.OperatingSystem}}</td>
      <td>{{inventory.State}}</td>
      
       <td>{{inventory.Brand}}</td>
      <td>{{inventory.LastScan}}</td>
      <td>{{inventory.LastMaintenance}}</td>
       <td> <a href="#"><i class="far fa-eye"></i></a>
          
           <a href="#"><i class="fas fa-edit"></i> </a>
           <a href="#"><i class="fas fa-trash"></i> </a>
          </td>
    </tr>
   {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}