{% extends 'base.html.twig' %}

{% block body %}

<style>
a{color:black;}
th,h2{color:#485785}
.b{padding-left:400px;}
</style><section id="main-content">
	<section class="wrapper">
		<div class="table-agile-info">
   
    <h2>These are your storage products:</h2>
      <a href="{{path("product_new")}}" class="btn btn-outline-info btn-lg float-right" ><i class="fas fa-user-plus"></i>Add a Product</a>
<br><br><br> {{form_start(form)}}

    <div class="form-row align-items-end">
    <div class="col-sm">
      {{form_row(form.stockingarea)}}
    </div>
    <div class="col-sm">
      {{form_row(form.manufacturer)}}
    </div>
    <div class="col-sm">
      {{form_row(form.minQuantity)}}
    </div><div class="form-group">
    <button class=" btn search">
                        <i class="fa fa-search"></i></button>
    
     {{form_end(form)}}
     
    
    <a class="btn search" href='/company/product'>
                        <i class="fa fa-redo"></i></button></a></div>
 </div>
 <div class="panel panel-default">
    <div class="panel-heading">
     Storage
    </div>
    <div>
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
          <tr>
      <th scope="col" >Reference</th>
      <th scope="col">Stocking Area</th>
      
       <th scope="col">Manufacturer</th>
      <th scope="col">Quantity</th>
      
       <th scope="col">Transactions</th>
       <th scope="col">Description</th>
       <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
      {% for product in products %}
    <tr>
      <td scope="row" >{{product.reference}}</th>
        <td>{{product.StockingArea}}</td>
      <td>{{product.manufacturer}}</td>
      
     
    
        <td>{{product.quantity}}</td>
        
        <td>{{product.transactions|length}}</td>
      <td>{{product.description}}</td>
      
       <td> <a href="{{path('product_show',{'id':product.id})}}"><i class="far fa-eye"></i></a>
           <a href="{{path('product_edit',{'id':product.id})}}" ><i class="fas fa-edit"></i> </a>
           
          <a href="{{path('company_product_transaction',{'id':product.id})}}" ><i class="fas fa-history" ></i></a>
          
           </td>
    </tr>
   {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</section>
     <div class="container">
  
 
<div class="navigation b">
    {{ knp_pagination_render(products) }}
</div>


</div>
  
{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/main.js') }}"></script>
<script>
function myFunction() {
  alert("Equipment is Now being deleted");
}
</script>

{% endblock %}