{% extends 'base.html.twig' %}
{% block body %}
<style>
a{color:black;}
th,h2,p,strong{color:#485785}
</style>
<div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active cl" href="/admin-dashboard">
                <span data-feather="home"></span><i class="fas fa-home"></i>
               home<span class="sr-only"></span>
              </a>
            </li>
 
            <li class="nav-item">
              <a class="nav-link active cl" href="/company/inventory">
                <span data-feather="home"></span> <i class="fas fa-running"></i>
                Inventory <span class="sr-only"></span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link cl" href="/company/product">
                <span data-feather="file"></span><i class="fas fa-users"></i>
                Storage
              </a>
            </li>
             <li class="nav-item">
              <a class="nav-link cl" href="/company/licence">
                <span data-feather="file"></span><i class="fas fa-users"></i>
                Licences
              </a>
            </li>
                <li class="nav-item">
              <a class="nav-link cl" href="/company/transaction">
                <span data-feather="file"></span><i class="fas fa-user"></i>
               Transactions
              </a>
            </li>
           
          </ul>
  
        </div>
        <br> <br> <br> <br> <br> <br> <br> 
      </nav><br>  <br> <br> <br> <br> <br> <br> <br> 
     <div class="container">
      <h2><i class="fas fa-info-circle"></i> Details about your Equipment : <strong>{{inventory.id}}</strong></h2>
  
    <br>
       <div class="card" style="width: 70rem;">
        <div class="card-body">
          <h3 class="card-title"><strong> Equipment:   {{ inventory.equipment  }}</strong></h3>
            <br>
        <div class="row">
    <div class="form-group col">
    <label for="firstname" class="form-label"><i class="fas fa-user"></i><strong> User:</strong> {{ inventory.user }}</label> 
   <hr>    </div> 
 <div class="form-group col">
     <label for="prenom" class="form-label"> <i class="fas fa-cog"></i><strong> OperatingSystem:</strong> {{ inventory.operatingsystem}}  </label> 
    <hr>  </div> 
    
    
    
 </div>
    <div class="row">
    <div class="form-group col">
    <label for="firstname" class="form-label"><i class="fas fa-star"></i><strong> State:</strong> {{ inventory.state }} </label> 
     <hr>  </div> 
 <div class="form-group col">
     <label for="prenom" class="form-label"><i class="fas fa-location-arrow"></i><strong> Location:</strong> {{ inventory.locaation }}    </label> 
    <hr>  </div> 
    
    
    
 </div>
 
    <div class="row">
    <div class="form-group col">
    <label for="firstname" class="form-label">    <i class="fas fa-copyright"></i><strong> Brand:</strong> {{ inventory.brand }}</label> 
     <hr>  </div> 
 <div class="form-group col">
     <label for="prenom" class="form-label">  <i class="fas fa-sort-numeric-up"></i><strong> Model :</strong> {{ inventory.model }} </label> 
     <hr> </div> 
    
    
    
 </div>
   <div class="row">
    <div class="form-group col">
    <label for="firstname" class="form-label">      <i class="fas fa-barcode"></i><strong> LastScan :</strong> {{ inventory.lastscan }}</label> 
     <hr>  </div> 
 <div class="form-group col">
     <label for="prenom" class="form-label"><i class="fas fa-wrench"></i><strong> Lastmaintenance :</strong> {{ inventory.lastmaintenance }}  </label> 
   <hr>   </div> 
    
    
    
 </div>
    <div class="row">
    <div class="form-group col">
    <label for="firstname" class="form-label">    <i class="fas fa-parachute-box"></i><strong> supplier :</strong> {{ inventory.supplier }}</label> 
      <hr> </div> 
   <div class="form-group col">
    <label for="firstname" class="form-label">     <i class="fas fa-shopping-cart"></i><strong> Purchasedate :</strong> {{ inventory.purchasedate }}</label> 
      <hr> </div> 
 
    
    
    
    
 </div>
 
         
            <a href="{{path('inventory_edit',{'id':inventory.id})}}" class="btn btn-warning" title="" >
                <i class="fas fa-user-edit"></i>
            </a>
            <a href="{{path('inventory_delete',{'id':inventory.id})}}" class="btn btn-danger" title=""
                 ><i class="fas fa-user-slash"></i></a>
                 </div>
      </div>
     <br><br>
   
</div>

{% endblock %}