{% extends 'base.html.twig' %}
{% block body %}
<style>
a{color:black;}
th,h2,p,strong{color:#485785}
</style>
<div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active cl" href="/">
                <span data-feather="home"></span><i class="fas fa-home"></i>
               home<span class="sr-only"></span>
              </a>
            </li>
 
            <li class="nav-item">
              <a class="nav-link active cl" href="/company/inventory">
                <span data-feather="home"></span> <i class="fas fa-boxes"></i>
                Inventory <span class="sr-only"></span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link cl" href="/company/product">
                <span data-feather="file"></span><i class="fas fa-dolly-flatbed"></i>
                Storage
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link cl" href="/company/licence">
                <span data-feather="file"></span><i class="fas fa-stamp"></i>
                Licences
              </a>
            </li>
                <li class="nav-item">
              <a class="nav-link cl" href="/company/transaction">
                <span data-feather="file"></span><i class="fas fa-shopping-cart"></i>
               Transactions
              </a>
            </li> <li class="nav-item">
              <a class="nav-link cl" href="/company/users">
                <span data-feather="file"></span><i class="fas fa-users"></i>
               Users
              </a>
            </li>
          </ul>
  
        </div>
        <br> <br> <br> <br> <br> <br> <br> 
      </nav><br>  <br> <br> <br> <br> <br> <br> <br> 
     <div class="container"> <h2><i class="fas fa-info-circle"></i> Details about your Licence : <strong></strong></h2>
  
     <div class="card text-center">
    
  <div class="card-header">
   <strong> Licence   {{licence.id}}</strong>
  </div>
  <div class="card-body">
    <h5 class="card-title"><strong>Name: </strong> {{licence.ProductName}}</h5>
    <p class="card-title"><strong>User:</strong> {{licence.User}}</p>
    <p class="card-title"><strong>Supplier:</strong> {{licence.supplier}}</p>
    <p class="card-text"><strong>Compilance Type: {{licence.CompilanceType}}</strong></p>
       <p class="card-text"><strong>Categorie: {{licence.category.name}}</strong></p>
    <p class="card-text"><strong>Purchase Date:</strong> {{licence.PurchaseDate|date("m/d/Y")}}</p>
    <p class="card-text"><strong>Expiration  Date:</strong> {{licence.ExpirationDate|date("m/d/Y")}}</p>
       <p class="card-text"><strong>Category Description:</strong> {{licence.category.description}}</p>
    </div>
  <div class="card-footer text-muted">
  <a href="{{path('licence_edit',{'id':licence.id})}}" class="btn btn-warning" title="" >
                <i class="fas fa-user-edit"></i>
            </a>
            <a href="{{path('licence_delete',{'id':licence.id})}}" onclick="return confirm('Are you sure you want to delete this item?');" class="btn btn-danger" title=""
                 ><i class="fas fa-user-slash"></i></a>
 
  </div>
</div>
     
           
     <br><br>
   
</div>

{% endblock %}