{% extends 'base.html.twig' %}
{% block body %}
<style>
a{color:black;}
th,h2,p,strong{color:#485785}
</style>
<div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active cl" href="/admin-dashboard">
                <span data-feather="home"></span><i class="fas fa-home"></i>
               home<span class="sr-only"></span>
              </a>
            </li>
 
            <li class="nav-item">
              <a class="nav-link active cl" href="/company/inventory">
                <span data-feather="home"></span> <i class="fas fa-running"></i>
                Inventory <span class="sr-only"></span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link cl" href="/company/product">
                <span data-feather="file"></span><i class="fas fa-users"></i>
                Storage
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link cl" href="/company/licence">
                <span data-feather="file"></span><i class="fas fa-users"></i>
                Licences
              </a>
            </li>
                 <li class="nav-item">
              <a class="nav-link cl" href="/company/transaction">
                <span data-feather="file"></span><i class="fas fa-user"></i>
               Transactions
              </a>
            </li>
           
          </ul>
  
        </div>
        <br> <br> <br> <br> <br> <br> <br> 
      </nav><br>  <br> <br> <br> <br> <br> <br> <br> 
     <div class="container"> <h2><i class="fas fa-info-circle"></i> Details about your Licence : <strong></strong></h2>
  
     <div class="card text-center">
    
  <div class="card-header">
   <strong> Product   {{product.id}}</strong>
  </div>
  <div class="card-body">
    <h5 class="card-title"><strong>Reference: </strong> {{product.reference}}</h5>
    <p class="card-title"><strong>StockingArea:</strong> {{product.StockingArea}}</p>
    <p class="card-title"><strong>Manufacturer:</strong> {{product.manufacturer}}</p>
    <p class="card-text"><strong>Quantity:</strong> {{product.quantity}}</p>
    <p class="card-text"><strong>Description:</strong> {{product.description}}</p>
     <p class="card-text"><strong>Transactions made:</strong> {{product.transactions | length}}</p>
      </div>
  <div class="card-footer text-muted">
  <a href="{{path('product_edit',{'id':product.id})}}" class="btn btn-warning" title="" >
                <i class="fas fa-user-edit"></i>
            </a>
            
 
  </div>
</div>
     
           
     <br><br>
   
</div>

{% endblock %}