{% extends 'base.html.twig' %}
{% block body %}
<style>
a{color:black;}
th,h2{color:#485785}
.b{padding-left:400px;}
</style>
<div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active cl" href="/admin-dashboard">
                <span data-feather="home"></span><i class="fas fa-home"></i>
               home<span class="sr-only"></span>
              </a>
            </li>
 
            <li class="nav-item">
              <a class="nav-link active cl" href="/company/inventory">
                <span data-feather="home"></span> <i class="fas fa-running"></i>
                Inventory <span class="sr-only"></span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link cl" href="/company/product">
                <span data-feather="file"></span><i class="fas fa-users"></i>
                Storage
              </a>
            </li><li class="nav-item">
              <a class="nav-link cl" href="/company/licence">
                <span data-feather="file"></span><i class="fas fa-user"></i>
               Licences
              </a>
            </li>
               <li class="nav-item">
              <a class="nav-link cl" href="/company/transaction">
                <span data-feather="file"></span><i class="fas fa-user"></i>
               Transactions
              </a>
            </li>
           
          </ul>
  
        </div>
        <br> <br> <br> <br> <br> <br> <br> 
      </nav><br>  <br> <br> <br> <br> <br> <br> <br> 
     <div class="container">
     <h2>These are Your Transactions:</h2>
       <a href="{{path("transaction_new")}}" class="btn btn-outline-info btn-lg float-right" ><i class="fas fa-user-plus"></i>Create a New Transaction</a>
<br><br>
    <br><br>
  {% for transaction in transactions %}
    <div class="card">
  <div class="card-header">
   <strong> {{transaction.type}}</strong>
  </div>
  <div class="card-body">
    <h5 class="card-title">Reference:{{transaction.product.reference}}  <p class="float-right"> ID:{{transaction.product.id}}</p></h5>
    <p class="card-text">{{transaction.note}}</p>
    <p class="card-text"> Quantity :{{transaction.quantity}}</p>
    <p class="card-text">{{transaction.TransactionDate|date("m/d/Y") }}  <a href="{{path('transaction_delete',{'id':transaction.id})}}" onclick="myFunction()" class="btn btn-danger float-right">Delete</a></p>
   
    
  </div>
</div>
<br> <br>
   {% endfor %}
 



</div>
  <div class="navigation b ">
    {{ knp_pagination_render(transactions) }}
</div>

{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/main.js') }}"></script>
<script>
function myFunction() {
  alert("Equipment is Now being deleted");
}
</script>

{% endblock %}